*.pyc
.vscode/

# put any output files that shouldn't be uploaded in a separate directory
outputs/*

__pycache__/

# to avoid getting environments in accidently
myenv/

# ignore any WSL zone identifiers
*Zone.Identifier